.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/profilePicCas.png"); background-position: 100% 16.22%; background-size: 115%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {font-size: 4.5rem; margin: 387px 0 0 541px}
.u-section-1 .u-text-2 {font-size: 1.25rem; margin: 0 0 60px 899px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px}
.u-section-1 .u-text-1 {width: auto; margin-left: 319px}
.u-section-1 .u-text-2 {width: auto; margin-left: 682px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px}
.u-section-1 .u-text-1 {margin-left: 111px}
.u-section-1 .u-text-2 {margin-left: 465px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px}
.u-section-1 .u-text-1 {margin-left: 29px; font-size: 3.75}
.u-section-1 .u-text-2 {margin-left: 318px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin-top: 181px}
.u-section-1 .u-text-2 {font-size: 1rem; margin-bottom: 41px; margin-left: 151px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 660px}
.u-section-2 .u-layout-wrap-1 {pointer-events: auto; width: 1227px; margin: 35px auto 35px 0}
.u-section-2 .u-image-1 {min-height: 590px; pointer-events: auto; background-image: url("images/1200px-University_of_Maryland_seal.svg.png"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px 60px}
.u-section-2 .u-layout-cell-2 {min-height: 590px; pointer-events: auto}
.u-section-2 .u-container-layout-2 {padding: 30px 60px}
.u-section-2 .u-text-1 {font-size: 1.875rem; margin: 84px 36px 0 0}
.u-section-2 .u-text-2 {margin: 79px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 100px}
.u-section-2 .u-layout-wrap-1 {width: 940px}
.u-section-2 .u-image-1 {min-height: 455px}
.u-section-2 .u-layout-cell-2 {min-height: 455px}
.u-section-2 .u-text-1 {margin-right: 0}
.u-section-2 .u-text-2 {margin-top: 35px} }

@media (max-width: 991px){ .u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-image-1 {min-height: 349px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 390px}
.u-section-2 .u-layout-wrap-1 {width: 540px}
.u-section-2 .u-image-1 {min-height: 524px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {font-size: 1.5} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 179px}
.u-section-2 .u-layout-wrap-1 {width: 340px}
.u-section-2 .u-image-1 {min-height: 330px} }