.u-section-1 {background-image: linear-gradient(#f2faf8, #c3f0fe)}
.u-section-1 .u-sheet-1 {min-height: 861px}
.u-section-1 .u-text-1 {font-weight: 300; margin: 145px 20px 0}
.u-section-1 .u-text-2 {margin: 20px auto 0}
.u-section-1 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 20px}
.u-section-1 .u-layout-cell-1 {min-height: 460px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-table-1 {width: 510px; margin: 0}
.u-section-1 .u-table-cell-2 {background-image: none; font-size: 1rem}
.u-section-1 .u-layout-cell-2 {min-height: 460px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto}
.u-section-1 .u-table-2 {margin: 0 auto}
.u-section-1 .u-table-cell-4 {background-image: none; font-size: 1rem} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-1 .u-layout-wrap-1 {position: relative}
.u-section-1 .u-layout-cell-1 {min-height: 379px}
.u-section-1 .u-table-1 {width: 410px; margin-left: auto; margin-right: auto}
.u-section-1 .u-table-cell-2 {font-size: 0.875rem}
.u-section-1 .u-layout-cell-2 {min-height: 379px}
.u-section-1 .u-table-2 {margin-right: initial; margin-left: initial}
.u-section-1 .u-table-cell-4 {font-size: 0.875rem} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 100px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-table-1 {width: 298px}
.u-section-1 .u-table-cell-2 {font-size: 0.625rem}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-table-cell-4 {font-size: 0.625rem} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 327px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-table-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-table-entity-1 {height: 373px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-table-entity-2 {height: 373px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 186px}
.u-section-1 .u-table-2 {width: 300px; margin-left: auto; margin-right: auto} }.u-section-2 {background-image: linear-gradient(#c3f0fe, white)}
.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-2 .u-layout-cell-1 {min-height: 400px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto}
.u-section-2 .u-table-1 {margin: 0}
.u-section-2 .u-table-cell-2 {background-image: none; font-size: 1rem}
.u-section-2 .u-layout-cell-2 {min-height: 400px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto}
.u-section-2 .u-table-2 {width: 510px; margin: 0}
.u-section-2 .u-table-cell-4 {background-image: none; font-size: 1rem} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 430px}
.u-section-2 .u-layout-wrap-1 {position: relative}
.u-section-2 .u-layout-cell-1 {min-height: 330px}
.u-section-2 .u-table-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-table-cell-2 {font-size: 0.875rem}
.u-section-2 .u-layout-cell-2 {min-height: 330px}
.u-section-2 .u-table-2 {width: 410px}
.u-section-2 .u-table-cell-4 {font-size: 0.875rem} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 353px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-table-cell-2 {font-size: 0.625rem}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-table-2 {width: 298px; margin-left: auto; margin-right: auto}
.u-section-2 .u-table-cell-4 {font-size: 0.625rem} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 580px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-table-entity-1 {height: 376px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-table-2 {margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-table-entity-2 {height: 376px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 439px}
.u-section-2 .u-table-2 {margin-bottom: auto; width: auto; margin-right: initial; margin-left: initial} }.u-section-3 .u-sheet-1 {min-height: 813px}
.u-section-3 .u-gallery-1 {height: 688px; grid-gap: 0 0; width: 1061px; margin: 69px auto 57px}
.u-section-3 .u-gallery-item-1 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-back-slide-1 {background-image: none}
.u-section-3 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-gallery-item-3 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-back-slide-3 {background-image: none}
.u-section-3 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 434px}
.u-section-3 .u-gallery-1 {height: 492px; grid-template-columns: repeat(3, auto); width: 940px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 658px}
.u-section-3 .u-gallery-1 {height: 848px; grid-template-columns: repeat(2, auto); width: 720px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1724px}
.u-section-3 .u-gallery-1 {height: 2544px; grid-template-columns: repeat(1, auto); width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1132px}
.u-section-3 .u-gallery-1 {height: 1602px; width: 340px} }